
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p><a href="/Estampa/Index" class="btn btn-primary btn-lg">Cargar Estampas una por una &raquo;</a></p><br>
    <p><a href="/Pais/Index" class="btn btn-primary btn-lg">Carga estampas por pais &raquo;</a></p><br>
</div>



